.container {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    transition: .3s;
    width: 100%;
    max-width: 200px;

    &__imageWrapper {
        width: 100%;
        position: relative;
        overflow: hidden;
        padding-top: 170%;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    &__fadeArea {
        position: absolute;
        height: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(0deg, #100e19, rgba(16,14,25,0));
    }

    &__logo {
        position: absolute;
        bottom: 94px;
        left: 50%;
        transform: translate(-50%);
    }

    &__placeNumber {
        position: absolute;
        bottom: 13px;
        left: 50%;
        transform: translate(-50%);
    }

    &:hover {
        transform-origin: bottom;
        transform: scale(102%, 102%);
    }
}