.container {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    transition: .3s;
    width: 100%;
    max-width: 200px;

    &__imageWrapper {
        width: 100%;
        position: relative;
        overflow: hidden;
        padding-top: 200%;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    &__fadeArea {
        position: absolute;
        height: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(0deg, #100e19, rgba(16,14,25,0));
    }

    &__logoWrapper {
        width: 80%;
        padding: 10%;
        position: absolute;
        bottom: 23%;
        left: 50%;
        transform: translate(-50%);
    }

    &__logo {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    &__numberWrapper {
        width: 17%;
        padding: 17%;
        position: absolute;
        bottom: 2%;
        left: 50%;
        transform: translate(-50%);
    }

    &__placeNumber {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    &:hover {
        transform-origin: bottom;
        transform: scale(102%, 102%);
    }
}