.container {
    display: block;

    &_large {
        max-width: 210px;
        min-width: 100px;
    }

    &_medium {
        max-width: 185px;
        min-width: 70px;
    }

    &_small {
        max-width: 88px;
        min-width: 72px;
    }

    &__imageContainer {
        position: relative;
        margin: 0 0 10px 0;
        transition: 0.3s;
        padding: 10px 0 0 0;
    }

    &__imageWrapper {
        width: 100%;
        padding-top: 100%;
        position: relative;
        border-radius: 50%;
        overflow: hidden;
    }

    &__image {
        position: absolute;
        top: -10% !important;
        left: 0;
        bottom: 0;
        right: 0;
        height: 120% !important;
    }

    &__amountBadge {
        position: absolute;
        left: 0;
        bottom: 0;
        font-size: 16px;
        line-height: 13px;
        font-weight: 700;
        padding: 9px 8px;
        border-radius: 2px;
        color: white;
        background-color: #a869f0;
        box-shadow: 0 -4px 1px -2px #a869f094;
    }

    &__fullName {
        color: #d9d7e0;
        font-size: 15px;
        font-weight: 700;
        line-height: 20px;
        width: 85%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__role,
    &__amountMovies {
        color: #a5a1b2;
        font-size: 12px;
        line-height: 20px;
    }

    &_large:hover {
        .container {
            &__imageContainer {
                transform-origin: bottom;
                transform: scale(103%, 103%); 
            }
        }
    }

    &:hover {
        .container {
            &__fullName {
                color: white;
            }
        }
    }
}
