.link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
}

.arrow {
    width: 16px;
    height: 16px;
}