.contentCard .clause {
    color: rgba(255,255,255,.72)
}

.clause {
    width: 75%;
    padding-left: 12px;
    padding-right: 12px;

    color: #a5a1b2;

    &-text {
        margin: 0;
        font-size: 15px;
        line-height: 22px;
        font-weight: 400;
        font-style: normal

    }
    
    &-toggle {
        font-weight: 500;
        color: rgba(255,255,255,.88);
        -webkit-transition: color 400ms,-webkit-transform 400ms;
        -o-transition: color 400ms,-o-transform 400ms;
        transition: transform 400ms,color 400ms;
        transition: transform 400ms,color 400ms,-webkit-transform 400ms,-o-transform 400ms;

        &:hover {
            color: #fff;
            -webkit-transition: color 80ms;
            -o-transition: color 80ms;
            transition: color 80ms;
        }
    }

    .clause-toggle {
        display: inline-block;
        margin-top: 8px;
        cursor: pointer;
    }
}

.is-truncated {
    .clause-text-inner {    
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .hidden-children > :not(:first-child) {
        display: none;
    }
}

.clause-text ol+ol, .clause-text ol+p, 
.clause-text ol+ul, .clause-text p+ol,
.clause-text p+p, .clause-text p+ul,
.clause-text ul+ol, .clause-text ul+p,
.clause-text ul+ul {
    margin-top: 8px;
}
