.section {
    &__header {
        display: inline-block;
        margin-bottom: 14px;
        font-size: 24px;
        font-weight: 600;
        color: #ffffff;
    }

    &__list {
        display: flex;
        /* padding-left: 30px;*/
        max-width: 1270px;
        width: 100%;

        &_link {
            width: 88px;
            height: 88px;
            color: #a5a1b2;
            font-weight: 600;
            margin: 10px 0px;
        }
    }
}

@media (max-width: 1260px) {
    .section {
        &__list > a:nth-child(n + 10):not(:last-child) {
            display: none;
        }
    }
}
@media (max-width: 1160px) {
    .section {
        &__list > a:nth-child(n + 9):not(:last-child) {
            display: none;
        }
    }
}
@media (max-width: 1060px) {
    .section {
        &__list > a:nth-child(n + 8):not(:last-child) {
            display: none;
        }
    }
}
@media (max-width: 948px) {
    .section {
        &__list > a:nth-child(n + 7):not(:last-child) {
            display: none;
        }
    }
}
@media (max-width: 836px) {
    .section {
        &__list > a:nth-child(n + 6):not(:last-child) {
            display: none;
        }
    }
}

@media (max-width: 724px) {
    .section {
        &__list > a:nth-child(n + 5):not(:last-child) {
            display: none;
        }
    }
}
@media (max-width: 612px) {
    .section {
        &__list > a:nth-child(n + 4):not(:last-child) {
            display: none;
        }
    }
}

@media (max-width: 600px) {
    .section {
        &__list {
            &_link {
                width: 72px;
                height: 72px;
                margin: 10px 0px;
            }

            & > a:nth-child(-n + 5):not(:last-child) {
                display: block;
            }
        }
    }
}

@media (max-width: 562px) {
    .section {
        &__list > a:nth-child(n + 5):not(:last-child) {
            display: none;
        }
    }
}
@media (max-width: 472px) {
    .section {
        &__list > a:nth-child(n + 4):not(:last-child) {
            display: none;
        }
    }
}

@media (max-width: 384px) {
    .section {
        &__list > a:nth-child(n + 3):not(:last-child) {
            display: none;
        }
    }
}

@media (max-width: 297px) {
    .section {
        &__list > a:nth-child(n + 2):not(:last-child) {
            display: none;
        }
    }
}
