.content {
    height: 96px;
    /*max-width: 441px;*/

    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 4px;
    grid-template-rows: repeat(1, 1fr);
    grid-auto-rows: 0;
    overflow: hidden;
    row-gap: 24px;
    margin-bottom: 24px;

    @media (max-width: 1159px) {
        max-width: 695px;
        grid-template-columns: repeat(6, 1fr);
    }

    @media (max-width: 879px) {
        max-width: 815px;
    }

    @media (max-width: 599px) {
        height: 72px;
        max-width: 551px;
    }

    @media (max-width: 511px) {
        max-width: 463px;
        grid-template-columns: repeat(5, 1fr);
    }

    @media (max-width: 391px) {
        max-width: 343px;
        grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: 271px) {
        max-width: 288px;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
        height: auto;
    }
}
