.section {
    width: 700px;
    // margin: 0 auto 40px auto;
    margin-bottom: 40px;


    &__header {
        padding-bottom: 16px;
        border-bottom: 1px solid rgb(255, 255, 255, 0.3);
    }

    &__title {
        margin-right: 8px;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 700;
        color: #ffffff;
    }
}

@media (max-width: 879px) {
    .section {
        width: 100%;
    }
}