.container {
    display: flex;
    margin-bottom: 15px;
    padding: 15px;

    border-radius: 8px;
    color: #a5a1b2;

    background-color: #1f1b2e;

    &:hover {
        transform: scale(1.1);
        transition: ease-in-out 0.4s;
    }

    &__form {
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        label {
            margin-right: 10px;
            font-size: 14px;
            line-height: 1.5em;
        }

        input {
            box-sizing: border-box;
            padding: 8px 10px;
            height: 20px;

            font-weight: 500;
            font-style: italic;
            //color: #a5a1b2;

            border-radius: 40px;
        }

        input:disabled {
            background-color: lightgray;
        }
    }
    &__field {
        margin-right: 15px;

        display: flex;
        align-items: center;

        &_first {
            input {
                width: 100px;
                text-align: center;
            }
        }
    }

    &__editButton {
        margin-right: 10px;
        padding: 0;
        img {
            margin-bottom: 2px;
        }

        &:hover {
            transform: scale(1.2);
            transition: 0.4s;
        }

        &:active {
            transform: translateY(5px);
        }
    }

    &__saveButton {
        transition: 0.4s;

        &:active {
            transform: translateY(5px);
        }
    }
}
