.container {
    &__crumbs {
        font-size: 20px;
        margin: 20px 0;
        color: white;
    }

    &__title {
        color: white;
        font-size: 40px;
        font-weight: 700;
        margin: 0 0 10px 0;
    }

    &__subTitle {
        width: auto;
        color: #a5a1b2;
        margin-right: 16px;
        font-size: 15px;
        line-height: 20px;
        font-weight: 400;
        font-style: normal;

        text-transform: capitalize;
    }

    &__spoiler {
        max-width: 930px;
    }

    &__sortAndFilter {
        display: flex;
        flex-direction: column;
    }

    &__section {
        padding-top: 24px;

        &_promo {
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 56px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 24px;

        padding-bottom: 32px;
        width: 100%;
    }

    &__paginationButton {
        font-size: 15px !important;
        line-height: 20px;
        font-weight: 500;
        font-style: normal;
    }
}

@media screen and (max-width: 600px) {
    .container {
        &__sortAndFilter {
            flex-direction: column-reverse;
        }
    }
}
