.rating {
    width: 100%;
    margin-top: 24px;
    pointer-events: none;
    @media (max-width: 1159px) {
        margin-top: 52px;
        margin-bottom: 32px;
    }
    @media (max-width: 879px) {
        margin-top: 24px;
    }
    @media (max-width: 599px) {
        margin-top: 16px;
    }

    display: flex;
    align-items: center;
    /*background-color: rgba(255, 255, 255, 0.08);*/

    &__value {
        display: flex;
        width: 64px;
        min-height: 64px;
        margin-left: -5px;
        height: 28px;

        @media (max-width: 1159px) {
            width: 48px;
            min-height: 48px;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        margin-left: 16px;

        font-size: 15px;
        line-height: 20px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.72);
        text-align: start;

        & > span:first-child {
            font-weight: 600;
            color: #fff;
        }

        & > span:last-child {
            font-size: 13px;
            margin-top: 4px;
            line-height: 16px;
            @media (max-width: 1159px) {
                display: none;
            }
        }
    }

    &__estimate {
        margin-left: auto;
        margin-right: -5px; /*!!!!! 0*/
        border: 1px solid rgba(255, 255, 255, 0.32);
        width: 72px;
        height: 24px;
        border-radius: 6px;
        padding: 3px 7px;

        font-size: 13px;
        line-height: 16px;
        font-weight: 500;
        color: #fff;
    }
}
