.container {
    width: 100%;
    margin-top: 24px;
    pointer-events: none;
    display: flex;
    align-items: center;

    &__value {
        display: flex;
        width: 64px;
        min-height: 64px;
        margin-left: -5px;
        height: 28px;
    }

    &__textContainer {
        margin-left: 16px;
        font-size: 15px;
        line-height: 20px;
        font-weight: 400;
        color: #ffffffb8;
        text-align: start;
    }

    &__text {

        &_rating {
            font-weight: 600;
            color: #fff;
        }

        &_marks {
            font-size: 13px;
            margin-top: 4px;
            line-height: 16px;
        }
    }

    &__estimate {
        margin-left: auto;
        margin-right: -5px;
        border: 1px solid #ffffff52;
        width: 72px;
        height: 24px;
        border-radius: 6px;
        padding: 3px 7px;
        font-size: 13px;
        line-height: 16px;
        font-weight: 500;
        color: #fff;
    }
}

@media (max-width: 1159px) {
    .container {
        margin-top: 52px;
        margin-bottom: 32px;

        &__value {
            width: 48px;
            min-height: 48px;
        }

        &__text {

            &_marks {
                display: none;
            } 
        }
    }
}

@media (max-width: 879px) {
    .container {
        margin-top: 24px;      
    }
}

@media (max-width: 599px) {
    .container {
        margin-top: 16px;
    }
}
