.item {
    &_large {
        min-width: calc(100% / 7 - 24px);
        margin: 0 12px;
    }
    &_medium {
        padding: 0px 12px;
    }
    &_small {
        padding-right: 24px;
        max-width: 112px;
        width: 100%;
    }
}

@media (max-width: 1270px) {
    .item {
        &_large {
            min-width: calc(100% / 5 - 24px);
        }
    }
}

@media (max-width: 1097px) {
    .item {
        &_large {
            min-width: calc(100% / 5 - 24px);
        }
    }
}

@media (max-width: 920px) {
    .item {
        &_large {
            min-width: calc(100% / 4 - 24px);
        }
    }
}

@media (max-width: 745px) {
    .item {
        &_large {
            min-width: calc(100% / 3 - 24px);
        }
    }
}

@media (max-width: 600px) {
    .item {
        &_large {
            min-width: calc(100% / 4 - 24px);
        }
        &_medium {
            padding: 0px 8px;
        }
        &_small {
            padding-right: 16px;
            max-width: 88px;
            width: 100%;
        }
    }
}

@media (max-width: 512px) {
    .item {
        &_large {
            min-width: calc(100% / 3 - 24px);
        }
    }
}

@media (max-width: 400px) {
    .item {
        &_large {
            min-width: calc(100% / 2 - 24px);
        }
    }
}
