.container {
    height: 100%;
    &__player {
        position: relative;
        max-width: 100%;
    }

    &__buttons {
        display: inline-flex;
        margin-top: 24px;
    }
}

@media (max-width: 1159px) {
    .container {
        &__buttons {
            display: none;
        }
    }
}

@media (max-width: 879px) {
    .container {
        &__buttons {
            display: flex;
            justify-content: center;
            margin: 0px;
        }
    }
}
