.container {
    padding: 8px 12px 0px;

    &__title {
        margin: 0 0 20px 0;
        font-size: 42px;
        color: #fff;
        text-align: center;
        font-weight: 700;
    }

    &__params {
        margin-bottom: 24px;
    }

    &__player,
    &__buttons {
        display: none;
    }

    &__block {
        &Options {
            display: none;
        }
    }
}

@media (max-width: 1159px) {
    .container {
        width: 100%;
        padding: 0;

        &__player {
            display: flex;
            margin-bottom: 32px;
        }

        &__buttons {
            display: block;
            max-width: 360px;
            width: 100%;
        }

        &__title {
            font-size: 56px;
            text-align: start;
        }
        &__infoBlock {
            display: flex;
        }

        &__block {
            margin-right: 40px;
            &RatingBox,
            &Spoiler,
            &Options {
                max-width: 720px;
            }

            &Spoiler {
                &Options {
                    display: none;
                }
            }

            &Options {
                display: flex;
                color: #a5a1b2;
            }
        }
    }
}

@media (max-width: 879px) {
    .container {
        &__title {
            text-align: center;
        }

        &__buttons {
            display: none;
        }

        &__player {
            margin-bottom: 24px;
        }

        &__infoBlock {
            display: block;
        }

        &__block {
            margin-right: 0px;
            &RatingBox,
            &Spoiler,
            &Options {
                max-width: 100%;
            }
        }
    }
}

@media (max-width: 599px) {
    .container {
        &__title {
            margin: 0px 0px 16px;
            font-size: 32px;
            line-height: 36px;
        }
    }
}
