.container {
    position: relative;
    width: 37.5%;
    padding: 8px 12px;

    &__title {
        margin: 0 0 20px 0;
        font-size: 42px;
        color: #fff;
        text-align: center;
        font-weight: 700;
    }

    &__params {
        margin-bottom: 24px;
    }

    &__options {
        display: none;
        color: #a5a1b2;
    }
}

@media (max-width: 1159px) {
    .container {
        width: 100%;

        &__title {
            font-size: 56px;
            text-align: start;
        }

        &__ratingBox,
        &__spoiler,
        &__options {
            width: 720px;
        }

        &__spolerOptions {
            display: none;
        }

        &__options {
            display: flex;
        }
    }
}

@media (max-width: 879px) {
    .container {

        &__title {
            text-align: center;
        }

        &__ratingBox,
        &__spoiler,
        &__options {
            width: 100%;
        }
    }
}

@media (max-width: 599px) {
    .container {

        &__title {
            margin: 0px 0px 16px;
            font-size: 32px;
            line-height: 36px;
        }
    }
}
