.container {
    display: flex;
    color: #a5a1b2;
    width: 100%;

    &__icon {
        width: 22px;
        height: 22px;
        margin: 0 12px 0 0;
    }

    &__name {
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        margin: 0 0 5px 0;
        transition: 0.2s;

        & > span {
            color: #fff;
        }
    }

    &:hover {
        .container__name {
            color: #ff0000;
        }
    }
}
