.section {
    width: 620px;
    padding: 0 12px;
    margin: 0 auto;

    &__header {
        padding-bottom: 16px;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        border-bottom: 1px solid rgb(255, 255, 255, 0.3);
    }

    &__title {
        margin-right: 8px;
        font-size: 24px;
        color: #ffffff;
    }

    &__amount {
        font-size: 15px;
        color: #a5a1b2;
    }

    &__item {
        margin-top: 16px;
    }
}