.container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #100e19fb;
    display: flex;
    justify-content: center;

    &__button {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 52px;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            .container__image {
                opacity: 1;
            }
        }

        &:not(:hover) {
            .container__image {
                transition: .4s;
            }
        }
    }

    &__image {
        width: 20px;
        height: 20px;
        opacity: 0.5;
    }
}