.button {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    color: #a5a1b2;
    border: none;

    &:hover {
        cursor: pointer;
        color: #ffffff;
    }

    &:not(:hover) {
        transition: 0.4s;
    }
}