.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0;
    transition: 0.3s;

    &__icons {
        position: absolute;
        right: 8px;
        top: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__icon {
        width: 25px;
        height: 20px;

        &_favorite {
            margin-bottom: 4px;
        }

        &_similar {
            height: 25px;
            margin-bottom: 4px;
        }

        &_rate {
            width: 20px;
            margin-bottom: 8px;
        }

        &_dislike {
            width: 18px;
            height: 18px;
        }
    }

    &__info {
        position: absolute;
        left: 16px;
        right: 16px;
        bottom: 16px;
        font-size: 13px;
        line-height: 16px;
        font-weight: 500;
        color: #d9d7e0;

        text-transform: capitalize;
    }

    &__rating {
        color: #fff;
        &_integer {
            font-size: 24px;
        }

        &_faction {
            font-size: 20px;
        }
    }

    &:hover {
        opacity: 1;
    }
}
