.container {
    display: block;
    width: 153.14px;

    //max-width: 200px;

    &__block {
        border-radius: 8px;
        overflow: hidden;

        &_image {
            position: relative;
            margin-bottom: 8px;
            background-color: #e6e6e6;
            transition: 0.3s;

            //height: 235.05px;

            &:hover {
                transform-origin: bottom;
                transform: scale(103%, 103%);
            }
        }
    }

    &__imageWrapper {
        width: 100%;
        padding-top: 165%;
        position: relative;
        border-radius: 50%;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        /* object-fit: cover;*/
    }

    &__title {
        font-size: 15px;
        font-weight: 600;
        line-height: 120%;
        color: #d9d7e0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__badge {
        position: absolute;
        bottom: 4px;
        right: 4px;
    }
}
