.previewPoster {

    &__title {
        font-size: 15px;
        font-weight: 600;
        line-height: 120%;
        color: #D9D7E0;
    }

    &:hover {
        cursor: pointer;
    }
}

.block {
    border-radius: 8px;
    overflow: hidden;

    &_image {
        position: relative;
        height: 260px;
        margin-bottom: 8px;
        background-color: rgb(230, 230, 230);

        &:hover {
            transform-origin: bottom;
            transform: scale(103%, 103%);
            transition-duration: .3s;
        }

        &:not(:hover) {
            transition-duration: .3s;
        }
    }
}

.imageWrapper {
    height: 260px;
}

