.container {
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    color: #d9d7e0;

    &__rating {
        margin-bottom: 12px;
        color: #fff;
        &_integer {
            font-size: 24px;
        }

        &_faction {
            font-size: 20px;
        }
    }
}
