.container {
    width: 100%;
    max-width: 600px;

    &__body {
        display: flex;
        align-items: center;
    }

    &__imageWrapper {
        margin: 0 16px 0 0;
    }

    &__main {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__infoContainer {
        color: white;
        font-weight: 700;
    }

    &__title {
        margin: 7px 0 6px 0;
    }

    &__ratingContainer {
        font-size: 13px;
        color: #a5a1b2;
        font-weight: 500;
    }
}
