// .contentCard .clause {
//   color: rgba(255, 255, 255, 0.72);
// }

.clause {
    padding-left: 12px;
    padding-right: 12px;

    color: #a5a1b2;

    &__text {
        margin: 0;
        font-size: 15px;
        line-height: 22px;
        font-weight: 400;
        font-style: normal;
    }

    &__spoilerButton {
        display: inline-block;
        margin-top: 8px;
        cursor: pointer;

        font-weight: 500;
        -webkit-transition: color 400ms, -webkit-transform 400ms;
        -o-transition: color 400ms, -o-transform 400ms;
        transition: transform 400ms, color 400ms;
        transition: transform 400ms, color 400ms, -webkit-transform 400ms, -o-transform 400ms;

        &:hover {
            color: #fff;
            transition: color 80ms;
        }

        &_colorBright {
            color: rgba(255, 255, 255, 0.88);
        }

        &_colorFaded {
            color: rgba(255, 255, 255, 0.48);
        }
    }
}

.text {
    &_isShown {
        .clause__textInner {
            display: block;

            & > :not(:first-child) {
                margin-top: 8px;
            }
        }
    }

    &_isHidden {
        .clause__textInner {
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;

            & > :not(:first-child) {
                display: none;
            }
        }
    }
}
