.container {
    color: #a5a1b2;
    margin: 0;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;

    &_show {
        .container__text {
            display: block !important;

            & > :not(:first-child) {
                margin-top: 8px;
            }

            & li {
                margin-left: 12px;
                padding-left: 16px;
                position: relative;
                list-style: none;

                &::before {
                    content: '';
                    height: 6px;
                    width: 6px;
                    position: absolute;
                    left: 0;
                    top: 10px;

                    border-radius: 50%;
                }
            }
        }
    }

    &_hidden {
        .container__text {
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;

            & > :not(:first-child) {
                display: none;
            }
        }
    }

    &__button {
        margin-top: 8px;
    }
}
