// .contentCard .clause {
//   color: rgba(255, 255, 255, 0.72);
// }

.container {
    color: #a5a1b2;
    margin: 0;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;

    &_show {
        .container__text {
            display: block !important;

            & > :not(:first-child) {
                margin-top: 8px;
            }
        }
    }

    &_hidden {
        .container__text {
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;

            & > :not(:first-child) {
                display: none;
            }
        }
    }

    &__button {
        margin-top: 8px;
    }
}
