.button {
    border-radius: 8px;
    color: #fff;
    font-weight: 500;
    transition: 0.4s;
    font-size: 15px;
    border: none;
    cursor: pointer;

    &_large {
        padding: 10px 15px;
    }

    &_medium {
        padding: 10px 12px;
    }

    &_small {
        padding: 7px 11px;
    }

    &_square {
        padding: 5px;
    }

    &_none {
        padding: 0;
    }

    &:hover:not(:active) {
        transition-duration: 80ms;
    }

    &:active {
        background-color: #0e0c14;
        border-color: #0e0c14;
    }
}
