.container {
    display: flex;
    position: relative;
    height: 100%;

    &_preview,
    &_rating,
    &_actor {
        margin: 0 -12px;

        .container__contentContainer {
            padding: 15px 0 0 0;
        }

        .container__button {
            &_left {
                left: -40px;
            }

            &_right {
                right: -40px;
            }
        }
    }

    &_preview {
        .container__button {
            &_left {
                img {
                    top: 46%;
                }
            }

            &_right {
                img {
                    top: 46%;
                }
            }
        }
    }

    &_actor {
        .container__button {
            &_left {
                img {
                    top: 42%;
                }
            }

            &_right {
                img {
                    top: 42%;
                }
            }
        }
    }

    &__contentContainer {
        width: 100%;
        overflow: hidden;
    }

    &__content {
        position: relative;
        transition: 0.4s;
        display: flex;
        width: 100%;
    }

    &__item {
        min-width: calc(100% / 7 - 10px);
        min-height: calc(100% / 7 - 10px * 3);
        margin: 0 5px;
    }

    &__button {
        width: 60px;
        height: 95%;
        position: absolute;
        top: 0;
        margin: 10px 0 30px 0;

        &_left {
            left: -50px;
        }

        &_right {
            right: -50px;
        }
    }
}

@media (max-width: 1380px) {
    .container {
        &__button {
            width: 22px;

            &_left {
                left: -22px !important;
            }

            &_right {
                right: -22px !important;
            }
        }

        &_preview,
        &_rating,
        &_actor {
            .container__button {
                width: 22px;

                &_left {
                    left: -10px !important;
                }

                &_right {
                    right: -10px !important;
                }
            }
        }
    }
}
/*
@media (max-width: 600px) {
    .container {
        &__content {
            &_preview {
                max-height: 210px;
            }
        }
    }
}

@media (max-width: 512px) {
    .container {
        &__content {
            &_preview {
                max-height: 260px;
            }
        }
    }
}

@media (max-width: 400px) {
    .container {
        &__content {
            &_preview {
                max-height: 300px;
            }
        }
    }
}
*/
