.container {
    display: flex;
    position: relative;
    height: 100%;

    &__contentContainer {
        width: 100%;
        overflow: hidden;
        padding: 10px 0;
    }

    &__content {
        position: relative;
        transition: 0.4s;
        display: flex;
        width: 100%;
    }

    &__item {
        min-width: calc(100% / 7 - 10px);
        min-height: calc(100% / 7 - 10px * 3);
        margin: 0 5px;
    }

    &__button {
        width: 60px;
        height: 95%;
        position: absolute;
        top: 0;
        margin: 10px 0 30px 0;

        &_left {
            left: -50px;
        }

        &_right {
            right: -50px;
        }
    }
}

@media (max-width: 1380px) {
    .container {
        &__button {
            width: 25px;

            &_left {
                left: -23px;
            }

            &_right {
                right: -23px;
            }
        }
    }
}