.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h2 {
        color: rgba(255, 255, 255, 0.72);
        margin-bottom: 10px;
    }
}
