.tabBar {
    &__item {
        cursor: pointer;
        display: flex;
        flex-basis: 100%;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
        max-width: 120px;
        padding-bottom: 4px;
        padding-top: 8px;
        position: relative;
        text-decoration: none;

        &_selected {
            .tabBar__itemGlow {
                opacity: 1;
            }

            .tabBar__itemCaption {
                color: #fff;
            }
        }
    }

    &__itemGlow {
        background-image: url('https://solea-parent.dfs.ivi.ru/picture/7e798f,7e798f/tabBarGlow.svg');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 64px 48px;
        height: 48px;
        left: 50%;
        opacity: 0;
        position: absolute;
        top: 0;
        transform: translateX(-50%);
        width: 64px;
    }

    &__itemIcon {
        align-self: center;
        height: 20px;
        position: relative;
        width: 20px;
    }

    &__itemCaption {
        align-self: center;
        color: #a5a1b2;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        height: 12px;
        line-height: 12px;
        margin-top: 4px;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
