.container {
    margin: 32px 0px 8px;
    border-top: 1px solid #ffffff29;
    border-bottom: 1px solid #ffffff29;
    padding: 16px 0px 32px;
    font-size: 15px;
    color: #a5a1b2;

    &__block {
        display: flex;
        align-items: center;
        padding: 12px 0;
        border-bottom: 1px solid #ffffff29;

        &:last-child {
            border: none;
        }
    }

    &__title {

        &_mobile {
            display: none;
        }
    }

    &__quality {
        color: #ffffff66;
    }

    &__value {
        margin-top: 4px;
        color: #fff;
    }

    &__badgesContainer {
        display: flex;
    }

    &__badge {
        margin-left: 8px;
    }
}

@media (max-width: 1159px) {
    .container {
        margin: 0;
        border: 0;
        padding: 0px 0px 24px;
        width: 100%;

        &__block {
            justify-content: space-between;
        }

        &__title {

            &_full {
                display: none;
            }

            &_mobile {
                display: flex;
            }
        }

        &__value {
            margin-top: 0px;
        }

        &__badge {
            margin-top: 0px;
        }
    }
}


@media (max-width: 599px) {
    .container {
        padding: 0px 0px 16px;
    }
}
