.container {
    position: relative;
    width: 100%;
    border-radius: 22px;
    overflow: hidden;

    &__imageWrapper {
        width: 100%;
        position: relative;
        overflow: hidden;

        &_background {
            padding-top: 40%;
        }

        &_logo {
            padding-top: 25%;
        }
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    &__link {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;

        padding: 32px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__content {
        width: calc(35% + 25.6px);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__synopsis {
        margin-top: 16px;
        font-size: 15px;
        line-height: 20px;
        color: #ffffff;
    }

    &__button {
        margin-top: 16px;
        width: 200px;
    }
}

@media (max-width: 1000px) {
    .container {
        &__link {
            padding: 10px;
        }
    }
}

@media (max-width: 767px) {
    .container {

        &__button {
            display: none;
        }

        &__synopsis {
            margin-top: 7px;
        }
    }
}

@media (max-width: 600px) {
    .container {

        &__imageWrapper {
            width: 100%;
            position: relative;
            overflow: hidden;
    
            &_background {
                padding-top: 40%;
            }
    
            &_logo {
                padding-top: 25%;
            }
        }
    
        &__image {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }
}

