.container {
    display: flex;
    margin-bottom: 24px;

    &__crumbsList {
        display: flex;
        list-style: none;
        flex-wrap: wrap;

        &_slash li {
            font-size: 13px;
            line-height: 16px;

            &::before {
                content: '/';
                margin-left: 4px;
                margin-right: 3px;
                color: #fff;
                border: none;
            }
        }

        &_point li,
        &_pointShort li:not(:first-child) {
            font-size: 15px;
            line-height: 20px;

            &::before {
                content: '';
                width: 2px;
                height: 2px;
                background-color: rgba(255, 255, 255, 0.7215686275);
                margin: 5px;
            }
        }

        li {
            display: flex;
            align-items: center;
            padding-bottom: 3px;
            font-weight: 500;
            color: rgba(255, 255, 255, 0.56);

            &:not(:last-child) {
                cursor: pointer;
            }
        }
    }

    &__crumb {
        list-style: none;
        color: #fff;
        font-size: 13px;
        line-height: 16px;
        font-weight: 500;
        transition-duration: 0.4s;
        border-bottom: 2px solid black;

        &:not(:hover):not(:active) {
            transition-duration: 80ms;
            box-shadow: 0 2px 0 #7e798f, inset 0 0 0 #7e798f;
        }

        &:hover:not(:active) {
            box-shadow: 0 0 0 #7e798f, inset 0 -1.5em 0 #7e798f;
        }
    }
}
