.container {
    width: 100%;

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffffcc;
        margin: 0 0 4px 0;
        flex-wrap: wrap;

        &:last-child {
            margin: 0;
        }
    }

    &__listItem {
        position: relative;
        font-size: 15px;
        line-height: 20px;
        vertical-align: top;
        margin: 0px 8px 0 8px;

        &:last-child {
            margin: 0;
        }

        &:first-child::before {
            content: none;
        }

        &_point {
            display: inline-flex;
            align-items: center;
            margin: 0;

            &::before {
                content: '';
                width: 2px;
                height: 2px;
                background-color: #ffffffb8;
                margin: 5px;
            }

            &:first-child::before {
                content: none;
            }
        }
    }

    &__listIcon {
        width: 15px;
        height: 15px;
        margin: 0 5px 0 0;

        &_sound {
            margin: 0 -3px 0 5px;
        }
    }
}

@media (max-width: 1159px) {
    .container {
        &__list {
            justify-content: start;
        }
    }
}

@media (max-width: 879px) {
    .container {
        &__list {
            justify-content: center;
        }
    }
}
