.container {
    position: absolute;
    top: 67px;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #1f1b2e;
    transition: all .4s;
    border-radius: 0 0 15px 15px;
    border-top: 1px solid #343434;
    padding: 30px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 300px;

    &__item {
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 100%;
    }

    &__title {
        color: #fff;
        margin: 0 0 15px 0;
        font-weight: 700;
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
    }

    &__link {
        margin: 0 0 5px 0;
        font-weight: 500;
        width: min-content;
    }
}