.container {
    display: flex;

    &__item {
        margin: 0 16px 0 0;

        &:last-child {
            margin: 0;
        }
    }

    &__menu {
        flex: 1 1 auto;
    }

    &__link {
        color: #ffffff7a;
        padding: 10px 0;
        font-size: 15px;
        line-height: 20px;
        font-weight: 600;

        &:not(:hover) {
            transition: 0.4s;
        }

        &:hover {
            color: #fff;
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
    }
}

@media (max-width: 1160px) {
    .container {
        &__menu {
            display: none;
        }
    }
}
