.container {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    &__votes {
        padding: 0px 4px;
        font-size: 15px;
        font-weight: 700;
        color: #73a32f;
    }
}

.button {
    &__image {
        width: 16px;
        height: 16px;    
    }

    &:hover {
        transform-origin: bottom;
        transform: scale(105%, 105%);
    }
}