.section {
    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 14px;
    }

    &__title {
        font-size: 24px;
        font-weight: 600;
        color: #ffffff;
    }
}

.topIcon {
    height: 21px;
}