.previewItem {
    min-width: calc(100% / 7 - 24px);
    margin: 0 12px 24px;
}

@media (max-width: 1270px) {
    .previewItem {
        min-width: calc(100% / 6 - 24px);
    }
}

@media (max-width: 1097px) {
    .previewItem {
        min-width: calc(100% / 5 - 24px);
    }
}

@media (max-width: 920px) {
    .previewItem {
        min-width: calc(100% / 4 - 24px);
    }
}

@media (max-width: 745px) {
    .previewItem {
        min-width: calc(100% / 3 - 24px);
    }
}

@media (max-width: 600px) {
    .previewItem {
        min-width: calc(100% / 4 - 24px);
    }
}

@media (max-width: 512px) {
    .previewItem {
        min-width: calc(100% / 3 - 24px);
    }
}

@media (max-width: 400px) {
    .previewItem {
        min-width: calc(100% / 2 - 24px);
    }
}

// ==============================

.promoItem {
    min-width: 100%;
}

// ==============================

.ratingItem {
    min-width: calc(100% / 5 - 24px);
    margin: 0 12px;
}

@media (max-width: 1160px) {
    .ratingItem {
        min-width: calc(100% / 4 - 24px);
    }
}

@media (max-width: 880px) {
    .ratingItem {
        min-width: calc(100% / 3 - 24px);
    }
}

@media (max-width: 598px) {
    .ratingItem {
        min-width: calc(100% / 2 - 24px);
    }
}
