.container {
    background-color: #100e19;
    font-family: iviSans, Arial, Helvetica, Helvetica Neue, FreeSans, sans-serif;
    position: relative;

    &__content {
        padding-bottom: 48px;
        padding-top: 48px;
        position: relative;
        border-top: 1px solid hsla(0, 0%, 100%, 0.16);

        &_columnNarrow {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }

        &_columnWide {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__title {
        color: #fff;
        display: block;
        font-weight: 700;
        margin-bottom: 8px;

        &_askText {
            margin: 0;
            font-weight: 400;
            color: #fff !important;
        }
    }

    &__description {
        color: hsla(0, 0%, 100%, 0.48);
        font-weight: 400;
    }

    &__title,
    &__description {
        font-size: 15px;
        line-height: 20px;

        span {
            display: block;
        }
    }

    &__support {
        margin-top: 20px;
    }

    &__button {

        &_size {
            height: 40px;
            width: 40px;
        }
    }

    &__supportButtons {
        display: flex;
        margin-top: 12px;

        & > :not(:last-child) {
            margin-right: 12px;
        }
    }

    &__supportPhones {
        background-color: #1f1b2e;
        border-radius: 8px;
        margin-top: 6px;
        opacity: 0;
        padding-bottom: 8px;
        padding-top: 8px;
        position: absolute;
        transition: all 0.2s linear;
        visibility: hidden;
        width: 196px;
        z-index: 1;

        &_shown {
            margin-top: 12px;
            opacity: 1;
            visibility: visible;
        }
    }

    &__phoneItem {
        display: block;
        padding: 8px 16px;
        transition-duration: 0.4s;
        transition-property: background-color;
    }

    &__phoneNumber {
        color: #fff;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
    }

    &__questions {
        margin-top: 24px;
    }

    &__stores {
        column-gap: 12px;
        display: flex;
    }

    &__textBlock {
        margin-left: 8px;
        align-self: center;
        flex-grow: 1;
        flex-shrink: 1;
        overflow: hidden;
        white-space: nowrap;

        &_single {
            margin-right: 4px;
            margin-left: 4px;
            font-weight: 400;
            white-space: nowrap;
    
            img {
                margin-right: 6px;
            }
        }

        & > :first-child {
            height: 12px;
            font-size: 10px;
            line-height: 12px;
            opacity: 0.7;
        }
        
        & > :last-child {
            height: 20px;
            font-size: 15px;
            line-height: 20px;
        }
    }

    &__copyrights {
        color: #ffffff7a;
        font-size: 15px;
        line-height: 20px;
        margin-top: 32px;
    }

    &__community {
        -moz-column-gap: 12px;
        column-gap: 12px;
        display: grid;
        grid-auto-flow: column;
        justify-content: flex-end;
    }

    &__footerWidget {
        align-items: center;
        cursor: pointer;
        display: flex;
        flex-direction: column;
    }

    &__text {
        color: #a5a1b2;
        font-size: 15px;
        line-height: 20px;
        margin-top: 24px;
        text-align: center;
    }

    &__iconSection {
        align-items: center;
        background: linear-gradient(180deg, var(--start-gradient-color) 0, var(--end-gradient-color) 100%);
        border-radius: 20px;
        box-shadow: 0 0 104px var(--shadow-color);
        display: flex;
        height: 104px;
        justify-content: center;
        width: 104px;
        --start-gradient-color: #a869f0;
        --end-gradient-color: #834cc2;
        --shadow-color: #a869f0;
    }
}

@media screen and (max-width: 1159px) {
    .container {
        display: none;
    }
}
