.container {
    &__title {
        font-size: 20px;
        display: inline-flex;
        line-height: 24px;
        font-weight: 700;
        margin-bottom: 6px;
        color: #fff;
        padding: 0px 12px;

        &:not(:first-child) {
            margin-top: 16px;
        }
    }
    &__item {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 24px;
    }

    &__spoiler {
        margin-top: 8px;
        margin-bottom: 40px;
        > div > div {
            margin-top: 14px;
        }

        &Button {
            border: 1px solid rgba(255, 255, 255, 0.32);
            padding: 9px 15px;
            width: 100%;
            line-height: 20px;
            margin: 32px 0px 16px 0px;
        }
    }
}

@media (max-width: 599px) {
    .container {
        &__item {
            grid-template-columns: repeat(6, 1fr);
            grid-row-gap: 16px;
        }
        &__spoiler {
            position: relative;
            margin-bottom: 20px;
            > div > div {
                margin-top: 14px;
            }

            &Button {
                margin: 16px 0px 10px 0px;
            }
        }
    }
}

@media (max-width: 470px) {
    .container {
        &__item {
            display: flex;
            flex-wrap: wrap;
            grid-row-gap: 10px;
            & > a {
                max-width: 72px;
            }
        }
    }
}
