.container {
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    text-decoration: none;

    display: inline-flex;
    align-items: center;

    &_bright {
        color: rgba(255, 255, 255, 0.72);
    }

    &_dim {
        color: rgba(255, 255, 255, 0.48);
    }

    &_gradient {
        color: #ea003d;

        background: linear-gradient(45deg, #ea003d, #c447ff);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &:hover {
        color: rgb(255, 255, 255);
    }

    &:not(:hover):not(:active) {
        transition-duration: 0.4s;
    }
}
