body {
    font-family: Arial, Helvetica, Helvetica Neue, FreeSans, sans-serif;
    background-color: #100e19;

    letter-spacing: 0.5px;
}

body.modal-active {
    height: 100vh;
    overflow-y: hidden;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 24px;
}
